@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

#cabecalho {
    background-color: #1E2A78;
    font-size: xx-large;
    text-align: center;
    color: white;
    letter-spacing: 0.8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button.is-primary {
    background-color: #00B5E2;
    color: #1F2937;
}

.button.is-primary:hover {
    background-color: #005A9C;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.conteiner {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    flex-direction: row; /* menu no lado esquerdo */
}

.item {
    color: #1F2937;
    min-height: 100vh;
    margin: 2px;
}

.button {
    transition-duration: 0ms;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

.button.customTamanho {
    width: 20vw;
    min-height: 10vh;
    font-size: 1rem;
    margin: 1vh;
    border: 0.4vw solid rgba(241, 239, 239, 0.425);
}

#barraLateral {
    background-color: #121212;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo {
    background-color: #F9FAFB;
    flex: 8;
    max-width: 900vw;
    margin: 0 auto;
    padding: 0 1vw;
}

body,
html {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

footer {
    background-color: #178FE6;
    text-align: center;
    color: white;
    max-height: 7vh;
    font-size: 1.2rem;
    padding: 1rem 0;
}

section {
    font-size: 1.1rem;
}

h2.title.is-3,
h3.subtitle.is-4 {
    color: #00B5E2;
}

h1,
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

video,
img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

